{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}客戶{% endblock %}</h1>
  <a class="action" href="{{ url_for(handler) }}">新增客戶</a>
{% endblock %}

{% block content %}
  <article class="post">
  {% for resrecord in reslist %}
    <article class="post">
      <header>
        <div>
          <div class="body">
          {% for idx in range(0, descbegin) -%}            {% if resrecord[idx] is not none -%}             <h3> {{ resrecord[idx] }} </h3>            {% endif %}          {% endfor %}
          </div>
          <div class="about">
          {% for idx in range(descbegin, len) %}
            {% if resrecord[idx] is not none %}
             {{ resrecord[idx] }} 
            {% endif %}
             
          {% endfor %}
          </div>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

{% endblock %}

